@using Microsoft.AspNetCore.Components

<Divider></Divider>
<Div Display="Display.Flex">
    <Div Display="Display.Flex">
        <Field Horizontal Margin="Margin.Is0.FromBottom">
            <FieldBody>
                <TextEdit Placeholder="@NameFilterPlaceholder" Text="@NameFilter" TextChanged="NameFilterChanged"></TextEdit>
            </FieldBody>
        </Field>
    </Div>
    
@*    <Button Margin="Margin.IsAuto.FromStart" Color="Color.Primary" Outline Type="ButtonType.Link" To="@NavigateTo">@ButtonText</Button>
*@
</Div>
<Divider></Divider>

@code {
    [Parameter]
    public string? NameFilter { get; set; }
    [Parameter]
    public EventCallback<string> NameFilterChanged { get; set; }

    [Parameter]
    public string NameFilterPlaceholder { get; set; } = "Filtrer på navn";

    [Parameter]
    public string? ButtonText { get; set; }
}