<div class="sidebar bg-light">
    <div class="pt-2 h-100">
        

        <div class="menu list-group list-group-flush pt-5">
            <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/ClubView">
                <span class="oi oi-people" aria-hidden="true"></span> Klubber
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/MatchListView">
                <span class="oi oi-people" aria-hidden="true"></span> Matches
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/MatchPlayView">
                <span class="oi oi-people" aria-hidden="true"></span>Hulspil
            </NavLink>
            @if (CommonExtensions.IsDebug())
            {
                <NavLink class="list-group-item list-group-item-action bg-light" href="/MemberListView">
                    <span class="oi oi-people" aria-hidden="true"></span> Medlemmer
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" target="blank" href="/swagger">
                    <span class="oi oi-" aria-hidden="true"></span> API
                </NavLink>
            }
            else
            {
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Presidium}")">
                <NavLink class="list-group-item list-group-item-action bg-light" href="/MemberListView">
                    <span class="oi oi-people" aria-hidden="true"></span> Medlemmer
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" target="blank" href="/swagger">
                    <span class="oi oi-" aria-hidden="true"></span> API
                </NavLink>
                </AuthorizeView>
            }
        </div>
    </div>
</div>