@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<AuthorizeView>
<Authorized>
   <a class="text-white text-decoration-none" href="/" @onclick="(() => Logout())">
       Logout(@context.User.Identity.Name)
   </a>
</Authorized>
<NotAuthorized>
        <a class="text-white text-decoration-none" href="/login">Login</a>
</NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        var stateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await stateProvider.UpdateAuthenticationStateAsync(null);
        NavigationManager.NavigateTo("/", true);
    }
}