<div class="container">
    <Card class="m-3">
@*        @if (Confirmed is null)
        {
            <LocalLoading/>
        }
*@
        @if (Confirmed is true)
        {
            <Field TextStyle="TextStyle.H4">
                <Badge IsPill BadgeStyle="BadgeStyle.Success">
                    <Icon Name="IconName.Dashboard"></Icon>
                </Badge>
                @SuccessHeader
            </Field>
            <TextEdit TextStyle="TextStyle.Body1">@((MarkupString)SuccessBody)</TextEdit>
        }
        @if(Confirmed is false)
        {
            <TextEdit TextStyle="TextStyle.H4">
                <Badge IsPill BadgeStyle="BadgeStyle.Warning">
                    <Icon Name="IconName.Dashboard"></Icon>
                </Badge>
                @FailureHeader
            </TextEdit>
            <Field TextStyle="TextStyle.Body1">@FailureBody</Field>
        }
    </Card>
</div>

@code {
    [Parameter] public bool? Confirmed { get; set; }
    
    [Parameter] public string? SuccessHeader { get; set; }
    [Parameter] public string? SuccessBody { get; set; }
    
    [Parameter] public string? FailureHeader { get; set; }
    [Parameter] public string? FailureBody { get; set; }
}