@using MSCaddie.Client.Models;
@* <Modal @ref="modal" Title="Modal title">
    <BodyTemplate>
        <Field Horizontal>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">First Name</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                <TextEdit @bind-Text="model.TeamName1"></TextEdit>
            </FieldBody>
        </Field>

        <Field Horizontal>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Email</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                <TextEdit @bind-Text="model.TeamName2"></TextEdit>
            </FieldBody>
        </Field>

        @if (!isValid)
        {
            <Paragraph>
                <Label>Invalid Submission!</Label>
            </Paragraph>
        }
    </BodyTemplate>
    <FooterTemplate>
    </FooterTemplate>
</Modal>
 *@
@code {
    private object modal = new();
    //private LeagueMatch modal = new();
    private bool isValid = true;
    private MatchPlayResultModel model;

    //private Modal matchPlayModal = default!;

    // private async Task OnShowModalClick()
    // {
    //     await modal?.ShowAsync();
    // }
    // private async Task OnHideModalClick()
    // {
    //     await modal?.HideAsync();
    // }
    // private async Task Confirm()
    // {
    //     await modal?.HideAsync();
    // }
}