@page "/ClubView"
@inherits ClubViewBase

@rendermode InteractiveServer

<PageTitle>Clubs</PageTitle>

<h1>Klubber</h1>
<p>@message</p>
@if (clubs == null)
{
    <div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"><DisplaySpinner/></div>
}
else
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <DropdownComponent TItem="Club"
                            Items="clubs"
                            GetKey="GetClubId"
                            GetValue="GetClubName"
                            SelectedKey=clubId
                            OnItemSelected="HandleClubSelected" />

            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-primary ms-auto" @onclick="() => OpenClub()">Opret ny klub</button>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>

        <RadzenDataGrid AllowFiltering="false" FilterMode=FilterMode.Simple AllowPaging="false" AllowSorting="true"
                    Data="@courses" TItem="CourseInfo" AllowVirtualization="true" AllowColumnResize="true">
        <Columns>
            <RadzenDataGridColumn TItem="CourseInfo" Property="CourseName" Title="Bane" Width="6rem" />
            <RadzenDataGridColumn TItem="CourseInfo" Property="Par" Title="Par" Width="6rem" />
            <RadzenDataGridColumn TItem="CourseInfo" Property="Tee" Title="Tee" Width="6rem" />
            <RadzenDataGridColumn TItem="CourseInfo" Property="Slope" Title="Slope" Width="6rem" />
            <RadzenDataGridColumn TItem="CourseInfo" Property="CourseRating" Title="CourseRating" Width="6rem" />
@*             <RadzenDataGridColumn Width="150px" TextAlign="TextAlign.Center" TItem="CourseInfo" Filterable="false" Sortable="false">
                <Template Context="data">
                    <AuthorizeView>
                        <Authorized Context="auth">
                            <RadzenButton title="Aggregate energy on location" ButtonStyle="ButtonStyle.Info" Icon="model_training" Click=@(async () =>{
                                      await PreconditionContainer.UpdateConnectionPointEnergyAggregation(data.PreconditionId);
                                      notificationService.Notify(new NotificationMessage
                                      {
                                      Severity = NotificationSeverity.Success,
                                      Summary = "ConnectionPoint energy aggregation updated",
                                      Duration = 4000
                                      });
                                      }
                                      ) />
                            <RadzenButton Style="margin-left:7.5px" title="Edit" ButtonStyle="ButtonStyle.Secondary" Icon="edit" Click=@(() => NavigationManager.NavigateTo(RouteUtils.PreconditionDetails(data.PreconditionId))) />
                        </Authorized>
                        <NotAuthorized>
                            <RadzenButton title="Edit" ButtonStyle="ButtonStyle.Secondary" Icon="edit" Click=@(() => NavigationManager.NavigateTo(RouteUtils.PreconditionDetails(data.PreconditionId))) />
                        </NotAuthorized>
                    </AuthorizeView>

                </Template>
            </RadzenDataGridColumn> *@

        </Columns>
    </RadzenDataGrid>

}

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret ny klub</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <InputText class="form-control" @bind-Value="NewClub" Placeholder="klub navn" />
            </div>
            <div class="modal-footer">
                <p>@ModalMessage</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => SaveClub()">Opret klub</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CancelClub()">Luk</button>
            </div>
        </div>
    </div>
</div>

