@inherits LayoutComponentBase

<div class="page">
    <NavMenu2 />

    <main class="pt-5">
        <BSContainer class="content pb-5">
            <RadzenCard>
                @Body
            </RadzenCard>
        </BSContainer>
    </main>
	<footer class="text-center text-lg-start bg-light text-muted footer">
	    <div class="text-center">
	        <span>&copy; Paul S. 2025</span>
	    </div>
	</footer>    
</div>
<RadzenNotification />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<RadzenComponents @rendermode="InteractiveServer" />