@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims


@inject IConfiguration Configuration
@inject NavigationManager Navigation
@using BlazorStrap

@* @inject SignOutSessionStateManager SignOutManager
 *@
<BSNavbar Color="BSColor.Light" IsFixedTop=true>
    <div class="container-fluid">
        <BSNavbarBrand Url="#">MS Caddie</BSNavbarBrand>
        <BSCollapse IsInNavbar="true">
            <Toggler>
                <BSNavbarToggle />
            </Toggler>
            <Content>
                <BSNav MarginEnd="Margins.Auto" MarginBottom="Margins.Small" Class="mb-lg-0">
                    <BSNavItem Url="locations">Locations</BSNavItem>
@*                     <AuthorizeView>
 *@                        <BSNavItem Url="ClubView">Klubber</BSNavItem>
                        <BSNavItem Url="MemberListView">Medlemmer</BSNavItem>
                        <BSNavItem Url="MatchListView">Matcher</BSNavItem>
                        <BSNavItem Url="MatchResult">Resultater</BSNavItem>
                    @* </AuthorizeView> *@
                </BSNav>
            </Content>
        </BSCollapse>
        @*        <div class="d-flex">
             <AuthorizeView Context="AuthenticationState">
                <div class="navbar-text">
                    @AuthenticationState?.User?.Identity?.Name
                    <AuthorizeView Roles="@AppRoles.Admin">
                        <Authorized>
                            (Admin)
                        </Authorized>
                        <NotAuthorized>
                            (Read Only)
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </AuthorizeView> 
            <LoginDisplay></LoginDisplay>
            </div>*@
    </div>
</BSNavbar>

@code {

}
