@page "/confirmregistration/{token}"
@using MSCaddie.Shared
@inject HttpClient _httpClient

<ConfirmRegistrationAction
    Confirmed="@_confirmed"
    SuccessHeader="Subscribed"
    SuccessBody="@_successText"
    FailureHeader="Something went wrong"
    FailureBody="You are not yet subscribed to news">
</ConfirmRegistrationAction>

@code {
    [Parameter]
    public string? token { get; set; }
    public string? message { get; set; }

    private bool? _confirmed;
    private const string _successText = @"Du kan nu logge på Mens Section.<br/><a href=""/login"">Klik her</a>";

    protected override async void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        if (_confirmed is true) return;

        try
        {
            var res = await _httpClient.PostAsJsonAsync("/api/auth/verify", token);
            res.EnsureSuccessStatusCode();
        }
        catch (Exception e)
        {
            //ToastService.ShowToast(e.Message, ToastLevel.Error);
            message = e.ToString();
            _confirmed = false;
            return;
        }
        _confirmed = true;
        StateHasChanged();
    }
}
