@page "/"
<Figure Size="FigureSize.Is256x256">
    <FigureImage Source="images/background.jpg" AlternateText="MS stemning" />
    <FigureCaption>MS stemning.</FigureCaption>
</Figure>
<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>

